/* Mobile/Landscape specific tweaks to hide seam */
@media (max-width: 1024px), (orientation: landscape) {
  .hero > #background-video {
    display: none !important;
  }

  .hero {
    background-image: url('assets/preview.jpg');
    background-size: cover;
    background-position: center center;
  }

  .welcome {
    box-shadow: none !important; /* remove subtle shadow that looks like a seam */
  }
}
